.message {

    margin-bottom: 20px;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.imageAndText img {
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

.text {
    background-color: #0078ff;
    color: white;
    padding: 14px 18px;
    border-radius: 16px;
    font-size: 16px;

}

.text:after {
    content: '';
    position: absolute;
}

.name {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 4px;
    text-align: right;
}

.messageText {
    font-size: 16px;
}

.time {
    font-size:10px;
    font-weight:600;
    color: #000;
    text-align: right;
    margin-right: 15px;
}
