/* Основные стили для инпута */
.input {
    width: 100%; /* Занимает всю ширину контейнера */
    height: 40px; /* Высота инпута */
    padding: 10px; /* Внутренние отступы */
    border: 1px solid #ccc; /* Цвет рамки */
    border-radius: 5px; /* Закругленные углы */
    box-sizing: border-box; /* Учитывает паддинги и границы в общей ширине */
    outline: none; /* Убирает обводку по умолчанию */
}

/* Стили для инпута при фокусировке */
.input:focus {
    border-color: #007BFF; /* Цвет рамки при фокусировке */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Легкая тень */
}

/* Контейнер для инпута */
.inputWrapper {
    margin-bottom: 15px; /* Отступ снизу */
}

/* Специальный стиль для инпута, если требуется */
.superInput {
    border: 2px solid #28a745; /* Зеленая рамка */
}

/* Стили для инпута с ошибкой */
.errorInput {
    border: 1px solid #e30101; /* Красная рамка */
}

/* Стили для инпута с ошибкой при фокусировке */
.errorInput:focus {
    border-color: darkred; /* Темно-красная рамка при фокусировке */
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5); /* Красная тень */
}

/* Стили для сообщения об ошибке */
.error {
    color: #e30101; /* Красный цвет текста */
    font-size: 12px; /* Размер шрифта для сообщения об ошибке */
    margin-top: 5px; /* Отступ сверху */
}