.radio {
    width: 20px;
    height: 20px;
    cursor: pointer;

}

.radio::before {

}


.radio:checked::before {
}

.label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
