.App {
    --header_height: 60px;
    width: 1200px;
    margin: 0 auto;
    position: relative;
    /*padding: 0 100px;*/
    z-index: 1;
}

.hw {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 30px 70px;
}

.hwTitle {
    font-size: 22px;
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
}